
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/PTSans-Regular.woff2);
    font-display: swap;    
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/PTSans-Bold.woff2);
    font-display: swap;    
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "PT Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: black;
    background-color: bisque;
    letter-spacing: .2rem;
}

.main-area {
    background-color: gold;
}

.title {
    font-weight: normal;
    letter-spacing: 0.05rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.button {
    min-width: 100px;
    font-family: inherit;
    font-weight: bold;
    text-transform: lowercase;
    background-color: aquamarine;
    border: solid 1px aqua;
}

.psimple-input {
    font-family: inherit;
    font-size: inherit;
    border: solid 1px gray;

}

.psimple-form {
    margin-top: 30px;
}
