
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/PTSans-Regular.woff2);
    font-display: swap;    
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/PTSans-Bold.woff2);
    font-display: swap;    
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-family: "PT Sans", sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: white;
    background-color: gray;
    letter-spacing: .2rem;
}

.main-area {
    background-color: #282828;
    padding: 50px;
    border-radius: 5px;
}

.title {
    font-weight: normal;
    letter-spacing: 0.05rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 1fr;
}

.button {
    min-width: 100px;
    min-height: 30px;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    color: #282828;
    border: solid 1px #282828;
    box-shadow: 0 0 5px 0 #34495e;
    border-radius: 2px;
}

.button:hover {
    min-width: 100px;
    min-height: 30px;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #04aa6d;
    color: white;
    border: solid 1px #282828;
    box-shadow: 0 0 5px 0 #34495e;
}

.button:active {
    min-width: 100px;
    min-height: 30px;
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    background-color: white;
    color: #04aa6d;
    border: solid 1px #282828;
    box-shadow: 0 0 5px 0 #34495e;
}

   



.psimple-input {
    font-family: inherit;
    font-size: inherit;
    border: solid 1px gray;
    margin-bottom: 10px;

}

.psimple-form {
    margin-top: 30px;
}



@media screen and (min-width: 320px) and (max-width: 479px) {

    .main-area {
        background-color: red;

    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }

}

@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

  @-ms-viewport {
    width: device-width ;
  }

  @media only screen and (max-width:320px) {
    /* CSS for screens that are 320 pixels or less will be put in this section */

    .main-area {
        background-color: red;

    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr;
    }
  }