@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  /* --font-family: 'Manrope', sans-serif; */
  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-button: #04aa6d;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/PTSans-Regular.woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/PTSans-Bold.woff2);
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-52%) translateY(-50%);
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.15rem;
  background: var(--color-bg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-area {
  margin: auto;
  color: white;
  padding: 50px;
  border-radius: 5px;
}

.select__category, .select__verbs-left {
  min-height: 2rem;
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: bold;
  color: lightgrey;
  letter-spacing: -0.005rem;
}

.title {
  font-weight: normal;
  font-size: 1.25rem;
  line-height: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: lightgrey;
}

.select-block {
  min-width: 100px;
}

select,
option {
  font-size: 0.8rem;
  font-family: inherit;
}

.out-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px var(--color-blog);
}

.grid-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 250px 1fr;
}

.button {
  min-width: 90px;
  min-height: 30px;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #04aa6d;
  color: lightgrey;
  border: solid 1px #04aa6d;
  border-radius: 5px;
}

.generate {
  margin-top: 1rem;
}

.button:hover {
  background-color: white;
  color: #282828;
  border: solid 1px white;
}

.button:active {
  min-width: 90px;
  min-height: 30px;
  font-family: inherit;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  background-color: white;
  color: var(--color-button);
  border: solid 1px #04aa6d;
  border-radius: 5px;
}

.input-field {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: inherit;
  font-size: inherit;
  border: solid 1px gray;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 200px;
}

.psimple-form {
  margin-top: 30px;
}

@media screen and (max-width: 479px) {
  /* and (min-width: 320px)  */

  .main-area {
    min-width: 370px;
  }

  .grid-container:not(.psimple-form) {
    grid-template-columns: 150px 1fr;
  }

  .psimple-form {
    display: grid;
    grid-template-columns: 1fr;
  }

  .psimple-input,
  .pparticiple-input {
    width: 165px;
    height: 40px;
    margin-top: 10px;
    margin-left: 1px;
    color: #282828;
    text-shadow: 1px 1px 2px white;
  }

  .out-1 {
    margin-top: 5px;
    /* #04aa6d */
    text-shadow: 1px 1px 2px var(--color-blog);
  }

  .out-1,
  .out-2 {
    height: 30px;
  }

  .title {
    font-size: 1.35rem;
  }

  .input-field {
    font-size: 1.25rem;
  }
  .out-2 {
    margin-top: 10px;
    margin-bottom: -10px;
    font-size: 1.25rem;
  }

  .out-3 {
    min-height: 80px;
    align-items: flex-start;
  }
}

/* 
@media (min-width: 1200рх) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width:991px) {

}

@media (min-width: 480px) and (max-width: 767px) {

}

@media (min-width: 320px) and (max-width: 479px) {
    
}

@media (min-width: 320px) {

} */
